{% extends 'layout.html' %}
 {% load static %}
{% block title %}Accepted{% endblock %}
 {% block body %}
   <img src="{% static 'img/bgnav.jpg' %}">
 {% endblock %}
 {% block content %}

    <!-- ***** Listing Destinations Area Start ***** -->
    <section style="background-image: url({% static 'img/bg-img/bgli2.jpg' %});" class=" bg-img section-padding-100-50">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading dark text-center">
                        <span></span>
                        <h3>Successfully <b>Accepted</b> Ad Request <br> of <br> United International University</h3>
                    </div>
                </div>
            </div>
    </section>
    <!-- ***** Listing Destinations Area End ***** -->

{% endblock %}


  {% block js %}


  {% endblock %}