{% extends 'layout.html' %}
 {% load static %}
{% block title %}FAQ{% endblock %}
 {% block body %}
   <img src="{% static 'img/bgnav.jpg' %}">
 {% endblock %}
{% block style %}
 {% endblock %}
 {% block content %}

    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-1.jpg)"></div>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Listing Destinations Area Start ***** -->
    <section class="dorne-listing-destinations-area section-padding-100-50">
        <div class="container">
            
            <div class="row">
                <!-- Single Features Area >
                <div class="single-features-area mb-50">   
                </div-->
 <section class="support" id="faqPage">
  <div class="suppHeaderArea">
    <div class="suppHeader">
      <h1>Frequently Asked Questions</h1>
       <p>Some commonly answered questions</p>
    </div>
  </div>
  <div class="suppBody">
    <div class="container">
      <div class="base">
        <div class="suppRightBody pull-right" id="faq">
          
          <p  class="title2">We already answered some of our users questions.Here is the list</p>
          
          <ul class="queAndAns">
            <li>
              <p class="question">What is Bd Ads?</p>
              <div class="answer">- Bd Ads is now one of the leading e-commerce organizations in Bangladesh from where you can buy  book/electronics/accessories, CDs/DVDs(Tutorials) and gift items. You can order online or by phone (16297) and can pay after receiving your goods.</div>
            </li>
            <li>
              <p class="question">Which types of product are available in Bd Ads?</p>
              <div class="answer">-Currently you will find all types of Books, Electronics and Gift Card products in Bd Ads.</div>
            </li>
            <li>
              <p class="question">Which kind of books are available in Bd Ads?</p>
              <div class="answer">- In Bd Ads you will find different kind of books. We store books from almost every publisher in this country and also store many originally printed books from other countries. At this moment in Bd Ads you can find books from more than 40 catagories (such as- Translated books, Politics, Religious, Medical and Engineering, History, Science, Fiction, Non- fiction, etc). More over 1 lac books are in collection of Bd Ads,and everyday new books are adding to this huge collection.</div>
            </li>
            <li>
              <p class="question">If i can't find any particular product in Bd Ads then what should I do?</p>
              <div class="answer">- If you can't find any particular product in Bd Ads website then you can call to our customer care line (16297) and ask for that particular product. We will then search that product in the market or contact the company and try to collect that.</div>
            </li>
            <li>
              <p class="question">Can I get any idea about any product before buying it? </p>
              <div class="answer">- Yes, you certainly can. You can get idea about any product by clicking the product name in our website. Then there will open a page of that particular product with proper description and pricing. You can also see there rating and review system where customers gave their feedback and reviewed that item. It will certainly help you to take your decision.</div>
            </li>
            <li>
              <p class="question">How can I order from Bd Ads?</p>
              <div class="answer">- There are 2 procedures to order from Bd Ads.<br>
                If you want to buy from online you just have to go to our website www.Bd Ads and then search your desired product. You can search category wise also and buy it from there. You just have to click "Buy Now" option and that product will be stored in your cart. You can further order with the given instructions there.<br>
                For phone order you can call to our customer care line - 16297 or 015 1952 1971 and our customer care executive will help you find your desired products and order those for you.
              </div>
            </li>
            <li>
              <p class="question">What is Gift Card!</p>
              <div class="answer">- Bd Ads offers you "Bd Ads Gift Card" as a token of trust for your continuous support and love for Bd Ads. You can purchase this gift card from our website and gift it to your dear ones or yourself also. By having this gift card you can enjoy various discount offers and purchase products from Bd Ads very easily..</div>
            </li>
            <li>
              <p class="question">What is Promo Code?</p>
              <div class="answer">- Promo code is a secret number scratch card which is given to the loyal customers of Bd Ads in different occasions. Customers can use this code in every order and get discounts.  In phone order customers can tell the code to our C.c executives and in online order there is box where the code has to be put in. Customers can get upto 25% discount bu using this promo code.</div>
            </li>
            <li>
              <p class="question">What is 'Gift Coupon'? How can I get it?</p>
              <div class="answer">- Gift Coupon is a new service of Bd Ads. You can buy this gift coupon from Bd Ads as a product and use it for buying products and you can gift this coupon card for your dear ones. If your coupon costs more than the product you bought then the rest of your money will go to your wallet and you can use that in future for buying products.</div>
            </li>
            <li>
              <p class="question">What is the Service/Shipping charge of Bd Ads?</p>
              <div class="answer">- You can buy any products at the cheapest shipping charge from Bd Ads. Online order shipping charge is 40 tk/- and Phone order shipping charge is 60 tk/- only.</div>
            </li>
            <li>
              <p class="question">What is the normal delivery time for Bd Ads?</p>
              <div class="answer">- Normally we take 2-10 days to deliver the parcel.</div>
            </li>
            <li>
              <p class="question">What if I find any problem in the delivered products, then what should I do?</p>
              <div class="answer">- It's a rare case for Bd Ads where customer didn't get their products unharmed. But sometimes we may fail to fulfill your expectations, sometimes situations aren't by our side. But there is a bond of trust between customers and Bd Ads, so that Bd Ads brings to you The "Happy Return" policy. Where customers can return their book or product if there's something wrong with it. In that case Bd Ads will give you a fresh product in return. We call this policy of ours "Happy Return" .</div>
            </li>
            <li>
              <p class="question">Is there any other products I can find in Bd Ads beside books?</p>
              <div class="answer">- Yes. At this moment We have electronics, Accessories and Gift Card . You can also find the first ever science kit in Bangladesh "OnnRokom BigganBaksho" in our website.</div>
            </li>
            <li>
              <p class="question">How can I gift my beloved ones by using your service?</p>
              <div class="answer">- You can now gift your beloved ones easily from Bd Ads. You can call to our Customer care line- 16297 or 015 1952 1971 . You can also order online and at the end of the order choose "place order to gift" by giving the proper mailing address of your dear ones. For gifting you have to pay the product price and delivery charge first. You can purchase this gift card from our website and gift it to your dear ones or yourself also</div>
            </li>
            <li>
              <p class="question">What are the payment options in Bd Ads?</p>
              <div class="answer">- Cash On Delivery (COD) , Mobile payment(bkash,Rocket), SSL commerze and PAYZA</div>
            </li>

            <li>
              <p class="question">How can I buy products from another country?</p>
              <div class="answer">- Bd Ads provides your desired products and books no matter which country you lived in. You can order products from here and we will  parcel it to you. In this case you have to pay the price of the product and weight-wise delivery charge first. You can order your products in the same way, by Online and Phone.</div>
            </li>
            <li>
              <p class="question">What is Guest Order?</p>
              <div class="answer">- Using this feature you can buy product from Rokomrai.com without any account</div>
            </li>
            <li>
              <p class="question">What is 'Backorder'?</p>
              <div class="answer">- Many times we don't have the books you like to order because they are out of stock. But now Bd Ads is adding "Backorder" option so that you can order the 'out of stock' books/products and when they are available we can notify you about it and thus take a order and make you happy. Your happiness is our gaining.</div>
            </li>

            <li>
              <p class="question">What is 'Wallet'?</p>
              <div class="answer">- Wallet is your piggybank from where you can buy products easily without any hassle. You don't need to pay cash on delivery or something, we'll just cut the amount from your wallet and deliver you the products you ordered.</div>
            </li>
            <li>
              <p class="question">How can I complain over or convey my satisfaction to Bd Ads?</p>
              <div class="answer">- Bd Ads always wants to hear the customer's say whether it's a complain or admiration. You can mail us at <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="18797c757176586a77737775796a71367b777536">[email&#160;protected]</a></div>
            </li>
            <li>
              <p class="question">What is 'Quick View'?</p>
              <div class="answer">- Now online shopping is much more easier in Bd Ads. Because we add quick view option where you can see a quick view with some details of the product. Firstly you have to move the mouse cursor to your desired product and you will see a quick view option. Just click it and a pop out will show you a quick view of the product.</div>
            </li>
            <li>
              <p class="question">What is 'View Insider'?</p>
              <div class="answer">- View Insider is a new feature in Bd Ads, now visit to book details page and click 'View Insider' link from product image</div>
            </li>

            <li>
              <p class="question">What is 'JHOKOMARI'?</p>
              <div class="answer">- To celebrate holidays, anniversaries or to pay respect to the authors, artists, and renowned people on their demises there is a team of illustrators and brainstorms who made some spontaneous changes to the Bd Ads logo, is called Jhokomari. Jhokomari is not just a regular image, it portraits the "Bd Ads" logo with an inner meaning.</div>
            </li>
            <li>
              <p class="question">Why should I donate to Bd Ads?</p>
              <div class="answer">- Happiness is only real when it shared. Struggling with time is the ultimate fate in the concept of struggle but despite all, people have a right to smile and some people have good heart to make them smile. Bd Ads encourages you to use this platform to bring up happiness and smile among those, Apart from all that we don't think ourselves into new way of acting but we act ourselves into a new way of thinking in sharing smile.</div>
            </li>
            <li>
              <p class="question">What is 'Testimonial'?</p>
              <div class="answer">- Testimonial is an option for getting a feedback from our customers about our website as well as our services. One can easily click the "Testimonial" option and then give us the feedback.</div>
            </li>

            <li>
              <p class="question">How can I 'submit a ticket'?</p>
              <div class="answer">- There is a "Submit Ticket" option in our website. If you can't find your answers and aren't satisfy about them then you can question us by submitting a ticket. There are options (Technical, Order Process, Payment Process, Product Query, Others) that can relate to your problems. You can choose one of them and write down your question with details and attach needed files (screenshots, pictures, etc.) and send it to us. We'll surely reply and try our best to solve your problems.</div>
            </li>

            <li>
              <p class="question">How can I make a list in Bd Ads website and why should I make it?</p>
              <div class="answer">- You can make a list with your desirable products and books so that you can buy those in near future and to suggest your choice of products/books to all the customers/readers to help them out for making a choice when they're buying.</div>
            </li>

            <li>
              <p class="question">How can I send a book/product link to my friends/dear ones?</p>
              <div class="answer">- You can easily send a book/product link with your message from our website. You just need to open the book/product details link and below the product image you can find 'Send' option. You have to click it then and write down the e-mail id of the person whom you want to send and your message and submit it. We'll send it for you.</div>
            </li>
            <li>
              <p class="question">How can I share a book/product link in social media?</p>
              <div class="answer">- You just need to open the book/product details link and below the product image you can find 'Share' option. You have to click it, copy the link and choose one of the social medias (Facebook, Twitter, Google+), and then share it.</div>
            </li>
            <li>
              <p class="question">What is 'Wish list'?</p>
              <div class="answer">- Customer satisfaction is our primary target so if a customer like a book/product but can't afford it that particular moment then they can easily add that product to his/her wish list. So that he/she can buy it in future by checking his/her wish list. After all your wish is our priority.</div>
            </li>

            <li>
              <p class="question">How can I subscribe Bd Ads?</p>
              <div class="answer">- You can easily subscribe Bd Ads by adding your mail address and we'll regularly give you the updates, offers, lots more by mailing it to you. You can find our subscribe option in the footer portion of our website.</div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
                
            </div>
        </div>
    </section>
    <!-- ***** Listing Destinations Area End ***** -->

{% endblock %}


  {% block js %}


  {% endblock %}