{% extends 'layout.html' %}
 {% load static %}
{% block title %}Offers{% endblock %}
 {% block body %}
   <img src="{% static 'img/bgnav.jpg' %}">
 {% endblock %}
 {% block content %}
    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-1.jpg)"></div>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Listing Destinations Area Start ***** -->
    <section class="dorne-listing-destinations-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading dark text-center">
                        <span></span>
                        <h4>Today's Hot Deal</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Features Area >
                <div class="single-features-area mb-50">   
                </div-->
                
                
            </div>
        </div>
    </section>
    <!-- ***** Listing Destinations Area End ***** -->
{% endblock %}


  {% block js %}


  {% endblock %}