{% extends 'layout.html' %}
 {% load static %}
{% block title %}{{user.username}}{% endblock %}
 {% block style %}

 	<link href="{% static 'static2/css/bootstrap.min.css' %}" rel="stylesheet">     
	<link href="{% static 'static2/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'static2/css/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'static2/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'static2/css/magnific-popup.css' %}" rel="stylesheet">	
    <link href="{% static 'static2/css/st.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

	
 {% endblock %}

 {% block body %}
   <img src="{% static 'img/bgnav.jpg' %}">
 {% endblock %}


 {% block content %}
					 <!-- Hero section start	-->
						
					
					<section class="bg-img" style="background-image: url({% static 'img/bg-img/bar.jpeg' %});" >
					{% if loger.is_publisher %}
						<h4 style="color: white; position: absolute">Publisher's Profile.</h4>
						<div class="text-md-right">
						<a  href="/reqlist/" class="site-btn" style="background-color:DodgerBlue; color: white; "> <big>Pending Ads</big> </a>
						<a  href="/ads/new/" class="site-btn" style=" background-color:DodgerBlue; color: white; "><big>Create Ad</big></a>
						</div>
						{% else %}
						<h4 style="color: white; position: absolute;">Customer's Profile.</h4>
						<div class="col-md-12 text-md-right header-buttons" >
						<a  href="/acceptlist/" class="site-btn" style=" background-color:DodgerBlue; color: white; "> <big>Accepted Ads</big> </a>
						</div>
					{% endif %}
					</section>
					


						<section class="dorne-welcome-area bg-img " style="background-image: url({% static 'img/bg-img/bgli2.jpg' %});" >


												<div class="hero-info">
												<br>
													
												<br>
													{% if loger.is_customer %}
													<figure style="height:auto; width: auto;">
									 					<img src="{% static 'img/publisher-img/uiu.png' %}">
													</figure>
													<ul>
														<li><span>Customer Name:</span>
														<b style="color:black">{{first_name}}<b></li>
														
													</ul>
													{% else %}
													<figure style="height:auto; width: auto;">
									 					<img src="{% static 'img/publisher-img/prothom_alo.png' %}">
													</figure>
													<ul>
														<li><span>Company Name:</span>
														<b style="color:black">{{first_name}}<b></li>
													
													</ul>
													{% endif %}
												</div>
						</section>
						<!-- Hero section end -->

						<!-- Social links section start 
						<div class="social-section">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xl-10 offset-xl-1">
										<div class="social-link-warp">
											<div class="social-links">
												<a href=""><i class="fa fa-pinterest"></i></a>
												<a href=""><i class="fa fa-linkedin"></i></a>
												<a href=""><i class="fa fa-instagram"></i></a>
												<a href=""><i class="fa fa-facebook"></i></a>
												<a href=""><i class="fa fa-twitter"></i></a>
											</div>
											<h2 class="hidden-md hidden-sm">My Social Profiles</h2>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<!-- Social links section end -->

						<!-- Resume section start 
						<section class="resume-section spad">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xl-7 offset-xl-2">
										<div class="section-title">
											<h2>Work Experience</h2>
										</div>
										<ul class="resume-list">
											<li>
												<h2>2016-Present</h2>
												<h3>Web Design Company</h3>
												<h4>Web Designer</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
											</li>
											<li>
												<h2>2014-2016</h2>
												<h3>Web Design Company</h3>
												<h4>Web Designer</h4>
												<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</section>
						<!-- Resume section end -->

						<!-- Resume section start 
						<section class="resume-section with-bg spad">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xl-7 offset-xl-2">
										<div class="section-title">
											<h2>Education</h2>
										</div>
										<ul class="resume-list">
											<li>
												<h2>2008</h2>
												<h3>Ui/Ux Diploma</h3>
												<h4>Design College California</h4>
												<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
											</li>
											<li>
												<h2>2006</h2>
												<h3>Web design Diploma</h3>
												<h4>Design College California</h4>
												<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</section>
						<!-- Resume section end -->

						
						<!-- Review section start 
						<section class="review-section spad pb-0">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xl-7 offset-xl-2">
										<div class="section-title">
											<h2>References</h2>
										</div>
										<div class="review-slider owl-carousel">
											<div class="single-review">
												<div class="qut">“</div>
												<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
												<h3>Robert G. Smith</h3>
												<h4>Manager, Company</h4>
											</div>
											<div class="single-review">
												<div class="qut">“</div>
												<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
												<h3>Robert G. Smith</h3>
												<h4>Manager, Company</h4>
											</div>
											<div class="single-review">
												<div class="qut">“</div>
												<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
												<h3>Robert G. Smith</h3>
												<h4>Manager, Company</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- Review section end -->


						<!-- Portfolio section start 
						<section class="portfolio-section spad pb-0">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xl-4 col-md-8 offset-xl-2 ">
										<div class="section-title">
											<h2>Portfolio</h2>
										</div>
									</div>
									<div class="col-md-4 text-md-right">
										<a href="/publisher/profile/{{user}}/" class="site-btn mb-5">See All Portfolio</a>
									</div>
								</div>
								<div class="portfolio-warp">
									<div class="row">
										<div class="col-xl-3 col-lg-6 col-md-6">
											<div class="portfolio-item">
												<a href="{% static 'static2/img/portfolio/1.jpg' %}" class="set-bg port-pic" data-setbg="{% static 'static2/img/portfolio/1.jpg' %}"></a>
												<h2>Brand Campaign</h2>
												<p>Graphic design</p>
											</div>
										</div>
										<div class="col-xl-3 col-lg-6 col-md-6">
											<div class="portfolio-item">
												<a href="{% static 'static2/img/portfolio/2.jpg' %}" class="set-bg port-pic" data-setbg="{% static 'static2/img/portfolio/2.jpg' %}"></a>
												<h2>A Corporate Identity</h2>
												<p>Graphic design</p>
											</div>
										</div>
										<div class="col-xl-3 col-lg-6 col-md-6">
											<div class="portfolio-item">
												<a href="{% static 'static2/img/portfolio/3.jpg' %}" class="set-bg port-pic" data-setbg="{% static 'static2/img/portfolio/3.jpg' %}"></a>
												<h2>Web Design Website</h2>
												<p>Graphic design</p>
											</div>
										</div>
										<div class="col-xl-3 col-lg-6 col-md-6">
											<div class="portfolio-item">
												<a href="{% static 'static2/img/portfolio/4.jpg' %}" class="set-bg port-pic" data-setbg="{% static 'static2/img/portfolio/4.jpg' %}"></a>
												<h2>Logo design</h2>
												<p>Graphic design</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- Portfolio section end -->

						<!-- Extra section start 
						<section class="extra-section spad pb-0">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xl-8 offset-xl-2">
										<div class="section-title">
											<h2>Extra Skills</h2>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-6 pt-5">
												<div class="fact-box trans">
													<div class="fact-content">
														<div class="circle-progress">
															<div id="progress1" class="prog-circle"></div>
															<div class="progress-info">
																<h2>75%</h2>
															</div>
															<div class="prog-title">
																<h3>Inspiration</h3>
																<p>Etiam nec odio vestibulum est.</p>
															</div>			
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-6 pt-5">
												<div class="fact-box trans">
													<div class="fact-content">
														<div class="circle-progress">
															<div id="progress2" class="prog-circle"></div>
															<div class="progress-info">
																<h2>83%</h2>
															</div>
															<div class="prog-title">
																<h3>Inspiration</h3>
																<p>Etiam nec odio vestibulum est.</p>
															</div>			
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-6">
												<div class="fact-box">
													<div class="fact-content">
														<img src="{% static 'static2/img/icon/1-w.png' %}" alt="">
														<h2>14</h2>
														<p>Years of Experience</p>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-6">
												<div class="fact-box">
													<div class="fact-content">
														<img src="{% static 'static2/img/icon/2-w.png' %}" alt="">
														<h2>9</h2>
														<p>Awards Won</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- Extra section end -->

						<!-- Contact section start 
						<section class="contact-section spad">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xl-8 offset-xl-2">
										<div class="section-title">
											<h2>Contact Me</h2>
										</div>
										<form class="contact-form">
											<div class="row">
												<div class="col-md-6">
													<input type="text" placeholder="Name">
												</div>
												<div class="col-md-6">
													<input type="text" placeholder="E-mail">
												</div>
												<div class="col-md-12">
													<input type="text" placeholder="Subject">
													<textarea placeholder="Message"></textarea>
												</div>
											</div>
											<div class="text-md-right">
												<button class="site-btn">Send message</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</section>
						<!-- Contact section end -->

{% endblock %}

{% block js %}
    <script src="{% static 'static2/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'static2/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'static2/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'static2/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'static2/js/circle-progress.min.js' %}"></script>
    <script src="{% static 'static2/js/main.js' %}"></script>
{% endblock %}
