{% extends 'layout.html' %}
 {% load static %}

{% load crispy_forms_tags %}
{% block title %}Ad Request{% endblock %}
 {% block body %}
   <img src="{% static 'img/bgnav.jpg' %}">
 {% endblock %}


{% block content %}
<h2 style="text-align: center;">Confirm Your Request</h2>
<section class="dorne-features-destinations-area  bg-img bg-overlay " style="background-image: url({% static 'img/bg-img/bgli4.jpg' %});">
                <div class="col-3">             
 						<div class="single-features-area">
                            <h2>{{Ad.publisher}}</h2>
                            <p><b>{{Ad.created_date}}</b></p>
                            <div class="feature-title">
                             		<h5>{{Ad.title}}</h5>
                                    <h6>Ad Type: <b>{{Ad.adtype}}</b></h6>
                                    <h6>Ad Category: <b>{{Ad.adCategory}}</b></h6>
                                    <h6>Price: <b style=" color : red;">{{Ad.price}} Tk.</b></h6>
                            </div>
                        </div>
                        <button class="btn dorne-btn" onclick="window.location.href = '{% url 'confirm' Ad.pk %}';"><b>Confirm Request</b></button>
                </div>    
</section>

 

{% endblock %}


{% block js %}


{% endblock %}