{% extends 'layout.html' %}
 {% load static %}

{% block title %}Televisons{% endblock %}
 {% block body %}
   <img src="{% static 'img/bgnav.jpg' %}">
 {% endblock %}


{% block content %}

 <!-- ***** Listing Destinations Area Start ***** -->
   <section class="dorne-editors-pick-area bg-img bg-overlay section-padding-100"style=" background-image: url({% static 'img/bg-img/bgli2.jpg' %});">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <span></span>
                        <h4 > Available slots for Televison Advertisements</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="features-slides owl-carousel">
                        {% for ad in cnt %}
                        {% if ad.publisher.publisher_type == "Television" %}
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="single-features-area">
                            <!-- <img src="img/publisher-img/prothom_alo.png" alt=""> -->
                          
                                <h2>{{ad.publisher}}</h2>
                                <p><b>{{ad.created_date}}</b></p>
                                <div class="feature-title">
                                    <h5>{{ad.title}}</h5>
                                    <h6>Ad Type: <b>{{ad.adtype}}</b></h6>
                                    <h6>Ad Category: <b>{{ad.adCategory}}</b></h6>
                                    <h6>Price: <b style=" color : red;">{{ad.price}} Tk.</b></h6>
                                </div>
                            </div>
                        </div>
                       
                        {% else %}
                            <h4 > There is no slots for Televison Advertisements</h4>
                        {% endif %}
                        
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


  {% block js %}


  {% endblock %}